.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  padding: 10px;
  width: 200px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .movie-card--poster {
    height: 80%;
    margin-bottom: 20px;
    width: 90%;
  }

  .movie-card--title {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}
